.brands-container {
  text-align: center;
  padding: 20px;
}

.brand-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.brand {
  margin: 10px;
  width: calc(33.33% - 100px); /* Adjust the width and margin as needed */
  display: inline-block;
}

.brand-text {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brand img {
  max-width: 50%;
  width: 100%; /* Ensure the image takes the full width of the parent */
  height: auto; /* Maintain image aspect ratio */
  max-height: 67%;
  object-fit: cover; /* Cover the container while preserving aspect ratio */
}

/* Styles for shrinking the brand images when a brand is selected */
.brand-images.shrink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between brand images */
}

.brand-images.shrink .brand {
  flex: 1;
  max-width: 100px; /* Adjust the maximum width of the brand images */
}

/* Styles for centering the watches and displaying them in columns of 4 */
.watches.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.watches.center .watch {
  flex: 0 0 calc(25% - 20px); /* Adjust the width of each watch and the gap */
  margin: 10px; /* Adjust the margin around each watch */
  text-align: center;
  background-color: #110404; /* Add a background color for watches */
  border: 1px solid #ddd; /* Add a border for watches */
  padding: 10px; /* Add padding for watches */
}

/* Media query to make watches responsive */
@media (max-width: 768px) {
  .watches.center .watch {
    flex-basis: calc(50% - 20px); /* Adjust for smaller screens (2 columns) */
  }
}
