.mens-watches-container {
 display: flex;
  align-items: flex-start; // Align sidebar and content vertically at the top
  padding: 1px; // Add padding to the container
  text-align: center;
}
.sidebar {
  flex: .3; // Let the sidebar take one-third of the available space
    background-color: #000000; // Set the sidebar background color
    padding: 20px; // Add padding to the sidebar
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: rgb(187, 149, 26);
}
h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
 
}

.sidebar label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  
}
.main-content {
  flex: 1;
  padding: 20px;
}

.mens-watches {
  flex: 2.7; // Let the content take two-thirds of the available space
    text-align: center; // Center the watches horizontally
    padding: 2px; // Add padding to the content
    display: flex;
    flex-wrap: wrap; // Allow watches to wrap to the next row
    justify-content: space-between; // Distribute space evenly between watches
    gap: 2px; // Adjust the gap between watches as needed

  .watch {
    width: calc(33.33% - 10px); // 25% width for each watch with a gap
    margin: 1px; // Adjust margin as needed to control spacing
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

    img {
      max-width: 100%;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    .mens-watches {
      justify-content: center;
    }
  
    .watch {
      width: calc(50% - 10px);
    }
}
}