/* index.scss */
body {
    // background-image: url("../../assets/images/LuxExpose-Patek-Philippe-Grandmaster-Chime-Ref.-6300A.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  